
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  border: 2px solid black;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #55cfb5 none repeat scroll 0 0;
  border-color: #65e79b;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.MuiDataGrid-row.Mui-odd {
  background-color: aliceblue;
}

.MuiDataGrid-root {
  margin: 4%;
  border: 1px solid #ccc;
}

.MuiTableCell-head {
  /* font-weight: bold; */
  /* font-size: 15px; */
  background-color: #A9E73A;
  /* color: #fff!important; */
  color: black;
}

.MuiDataGrid-columnsContainer {
  background-color: slategray;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.MuiPaper-elevation1 {
  box-shadow: none!important;
}

.MuiSelect-root {
  width: 750px!important;
}

.MuiDialog-paperWidthXs {
  width: 80%!important;
  max-width: none!important;
}

.MuiTable-root {
  border: 1px solid #ccc;
  width: 92%!important;
  margin: 4%;
}

.MuiAvatar-root {
  width: 80px!important;
}

.MuiButtonBase-root.Mui-disabled {
  font-size: 14px!important;
}

.MuiTablePagination-root {
  font-size: 14px!important;
}

.MuiToolbar-root {
  font-size: 14px!important;
}

.MuiButton-label {
  font-size: 13px!important;
  font-weight: 700;
  color:grey;
}
.MuiButton-label:hover {
  color:black;
  box-shadow: 20px;
}

html {
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
